1. Power of number

    Write a function `power` that takes a number `x` and returns either its square, cube, or any power based on a keyword argument `exp`. If `exp` is not provided, use square (default = 2).

    
    Input: power(5)                      
    Output: 25

    Input: power(5, exp=3)  
    Output: 125

In [2]:
def power(x, exp=2):      # default value of exp is 2
    return x ** exp


print(power(5))           # Output: 25
print(power(5, exp=3))    # Output: 125

25
125

2. Keyword arguments statement print

    Write a function that introduces a person with name, age, and city. Use *keyword arguments*.

    Input:
    `name`="abc", `city`="xyz", `age`=123

    Output:
    My name is abc, I am 123 years old, and I live in xyz.

In [4]:
def func(name, city, age):
    print(f"My name is {name}, I am {age} years old, and I live in {city}")


func("Hassan", "Mumbai", 26)

My name is Hassan, I am 26 years old, and I live in Mumbai

3. Sum and mean

    Write a function that takes a list of numbers and returns both the sum and the mean.

    Input: [10, 20, 30]   
    Output: Sum = 60, Mean = 20

In [5]:
def sum_and_mean(numbers):
    total = 0
    for value in numbers:
        total += value
    return total, total / len(numbers)


print(sum_and_mean([10, 20, 30]))  # (60, 20.0)

(60, 20.0)

4. Write a function that prints a multiplication table of a given number.

    Input: 5    
    Output:

    5 * 1 = 5

    5 * 2 = 10

    5 * 3 = 15
    ...

    5 * 10 = 50

In [6]:
def multi(n):
    for i in range(1, 11):
        print(f"{n} * {i} = {n * i}")

        
multi(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

5. Write a function `normalize_list` that takes a list of positive numbers and normalizes them so that all values are scaled down between 0 and 1, and the sum of the list is 1. Modify the list in-place and return nothing.


    Input: [1, 4, 5]                
    Output: [0.1, 0.4, 0.5]

    Input: [1, 3, 4, 8]             
    Output: [0.0625, 0.1875, 0.25, 0.5]

In [7]:
def normalize_list(numbers):
    sums = 0
    for i in range(len(numbers)):
        sums += numbers[i]
    for i in range(len(numbers)):
        numbers[i] /= sums
    return numbers


normalize_list([1, 3, 4, 8])

[0.0625, 0.1875, 0.25, 0.5]