1. Power of number

    Write a function `power` that takes a number `x` and returns either its square, cube, or any power based on a keyword argument `exp`. If `exp` is not provided, use square (default = 2).

    
    Input: power(5)                      
    Output: 25

    Input: power(5, exp=3)  
    Output: 125

In [10]:
def power(x, exp=2):
    print(x**exp) 

power(5)
power(5,3)

25
125

2. Keyword arguments statement print

    Write a function that introduces a person with name, age, and city. Use *keyword arguments*.

    Input:
    `name`="abc", `city`="xyz", `age`=123

    Output:
    My name is abc, I am 123 years old, and I live in xyz.

In [22]:
def introduce (name="Dipesh", city="AD", age=45):
    print(f"My Name is {name}, I am {age} years old and I am staying in {city}.")

introduce()
introduce("Yadav","PN", 50)
introduce(name ="Yadav",age =50, city ="PN")

My Name is Dipesh, I am 45 years old and I am staying in AD.
My Name is Yadav, I am 50 years old and I am staying in PN.
My Name is Yadav, I am 50 years old and I am staying in PN.

3. Sum and mean

    Write a function that takes a list of numbers and returns both the sum and the mean.

    Input: [10, 20, 30]   
    Output: Sum = 60, Mean = 20

In [24]:
def sum_mean(l):
    total = sum(l)
    mean = sum(l)/ len(l)
    return total , mean

s, m =sum_mean(range(0,5))
print(s, m)

10 2.0

4. Write a function that prints a multiplication table of a given number.

    Input: 5    
    Output:

    5 * 1 = 5

    5 * 2 = 10

    5 * 3 = 15
    ...

    5 * 10 = 50

In [28]:
def mult_table(num):
    for i in range(1,11):
        print(f"{num} * {i} : {num*i}")
mult_table(5)

5 * 1 : 5
5 * 2 : 10
5 * 3 : 15
5 * 4 : 20
5 * 5 : 25
5 * 6 : 30
5 * 7 : 35
5 * 8 : 40
5 * 9 : 45
5 * 10 : 50

5. Write a function `normalize_list` that takes a list of positive numbers and normalizes them so that all values are scaled down between 0 and 1, and the sum of the list is 1. Modify the list in-place and return nothing.


    Input: [1, 4, 5]                
    Output: [0.1, 0.4, 0.5]

    Input: [1, 3, 4, 8]             
    Output: [0.0625, 0.1875, 0.25, 0.5]

In [70]:
def normalize_list(my_list):
    pos_n = my_list
    total = sum (pos_n)
    
    for i in range(len(pos_n)):
        pos_n[i] = pos_n[i]/total
    print(pos_n)


normalize_list([1, 4, 5])
normalize_list([1, 3, 4, 8])

[0.1, 0.4, 0.5]
[0.0625, 0.1875, 0.25, 0.5]